 @charset "UTF-8";
/*Importanto uma fonte*/
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');
@font-face{
    font-family: 'FonteLogo';
    src: url("../_fonts/bubblegum-sans-regular.otf");
}

body{
    background-color: #dddddd;
    color:black;
    font-family: Arial, sans-serif;
}
div#interface {
    /*Delimitando a div*/
    width: 900px;
    background-color: white;
    margin: -20px auto 0px auto;
    /*sombreamento*/
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
}
p {
    text-align: justify; 
    text-indent: 50px;
}
a {
    color: #606060;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
header#cabecalho img#icone{
    position: absolute;
    left: 960px;
    top: 70px;
}
header#cabecalho {
    /*criando uma linha abaixo do cabecalho */
    border-bottom: 1px #606060 solid;
    height: 150px;
    /*Configurando a logo marca */
    background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 80px;

}
header#cabecalho h1{
    /*tipo da fonte*/
    font-family: 'FonteLogo',  sans-serif;
    /*tamanho da fonte*/
    font-size: 30pt;
    color: #606060;
    /*sombreamento*/
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
    padding: 0px;
    margin-bottom:0px ;
}
header#cabecalho h2{
    font-family: 'Titillium Web', sans-serif;
    font-size: 15pt;
    color: #888888;
    padding: 0px;
    margin-top: 0px;
}
span {
    font-weight: 900;
}
/*Formatação de imagens com legenda */
/* contener pai*/
figure.foto-legenda{
    position: relative;
    /*Bordar*/
    border: 8px solid white;
    /* Criando uma sobra*/
    box-shadow:1px 1px 4px black ;
}
/* configuração para que a imagem se ajuste a borda*/

figure.foto-legenda img{
    width: 100%;
    height: 100%;
}
/* contener filho*/
figure.foto-legenda figcaption {
    /*Adicionando opacidade na imagem*/
    opacity: 0;
    position: absolute;
    top:0px;
    /*Criando uma transparencia*/
    background-color: rgba(0, 0, 0, 0.4);
    /*Mudando a cor da legenda*/
    color: white;
    /*Colocando a transparencia na imagem toda*/
    width: 100%;
    height: 100%;
    /*Criando um espaço dentro da legenda*/
    padding: 10px;
    /*criando um box dentro da borda*/
    box-sizing: border-box;
    /*Criando uma transição de 1 segundo*/
    transition: opacity 1s;
}
/*Criado para que ao passar o mouse a legenda apareca*/
figure.foto-legenda:hover figcaption{
    opacity: 1;
}
/*Formatação do Menu*/
nav#menu{
    display: block;
}
nav#menu ul{
    /*Retirando os indicadores da lista*/
    list-style: none;
    /*colocando as letras em maiusculas*/
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 500px;
}
nav#menu li{
    /*Adicionar o botões de menu em uma unica linha*/
    display: inline-block;
    background-color: #dddddd;
    /*margin interna*/
    padding: 10px;
    margin: 2px;
    /*configuração do tempo de transição a passar o mouse*/
    transition: background-color 1s;

}
nav#menu li:hover{
    background-color: #606060;
}
nav#menu h1{
    /*escondendo o conteudo da tag h1*/
    display: none;
}
nav#menu a {
    color: black;
    /*Tirando o sublinhado do texto*/
    text-decoration: none;
}
nav#menu a:hover{
        /*ao passar o mouse o link muda de cor para branco*/
        color: #ffffff;
}
/*Formatando o corpo*/
section#corpo {
    display: block;
    /*tamanho da sessão*/
    width: 500px;
    /*flutuar*/
    float: left;
    /* adicionando uma borda vertical*/
    border-right: 1px solid #606060;
    /*configurando uma margem interna*/
    padding-right: 12px ;


}
article#noticia-principal h2{
    font-size: 13pt;
    color: #606060;
    background-color: #dddddd;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;


}
header#cabecalho-artigo h1 {
    font-family: 'FonteLogo', sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-bottom: 0px;
    margin-top: 0px;
}
header#cabecalho-artigo h2 {
    font-size: 13pt;
    color: #cecece;
    background-color: #ffffff;
    margin: 0px;
    
}
.direita{
    text-align: right;
}
header#cabecalho-artigo h3 {
    font-size: 12pt;
    color: #606060;
}


/*Formatando as tabelas*/
table#tabelaspec {
    /*borda de fora*/
    border: 1px solid #606060;
    /*retirando o espaço das bordas*/
    border-spacing: 0px ;
    margin-left: auto;
    margin-right: auto;
}
/*Borda das colunas e linhas*/
table#tabelaspec td{
    border: 1px solid #606060;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}
table#tabelaspec td.ce{
    color: white;
    background-color: #606060;
    vertical-align: top;
    text-align: right;
    font-weight: bold;

}
table#tabelaspec td.cd{
    background-color: #cecece;
    text-align: left;
    
    
}
table#tabelaspec caption{
    color: #888888;
    font-size: 13pt;
    font-weight: bold;
}
table#tabelaspec caption span{
    display: block;
    float: right;
    color: #000000;
    font-size: 8pt ;
    margin-top: 10px;
}
aside#lateral{
    display: block;
    width: 350px;
    float: right;
    background-color: #dddddd;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.5) ;

    
    
}
aside#lateral h1{
    font-family: 'FonteLogo',sans-serif;
    font-size: 20pt;
    color: #606060;
    margin: 0px;
}
aside#lateral h2{
    background-color:#606060 ;
    font-size: 13pt;
    color: #ffffff;
    padding: 5px;

}
footer#rodape {
    clear: both;
    border-top: 1px solid #606060;
   
}
footer#rodape p {
    text-align: center;
}
