@charset "utf-8";
/*Adicionando imagens de fundo*/
div#tv-radio {
    width: 900px;
    height: 580px;
    margin: auto;
    background: url("../_imagens/radio-tv.png") no-repeat ;
}
/*ajustando o audio para que apareca no radio da imagem*/
audio#musica {
    display: block;
    position: relative;
    left:575px ;
    top:490px ;
    width: 300px;
}
/*ajustando o video para que apareca no tv da imagem*/
video#filme {
    display: block;
    position: relative;
    left:90px ;
    top: 65px;
    width: 440px;

}